/* 全体 */
body {
  font-size: 6em;
  text-align: center;
}

/* カウント */
.count {
  margin: 0;
  font-weight: bold;
  color: #888;
}

/* 文字入力部分 */
.wrap {
  padding: 80px 40px;
  margin-top: 20px;
  background-color: #666;
  font-weight: bold;
  color: #fff;
}

/* 正しいタイピング文字 */
.typed {
  color: lightgreen;
}

/* ミスタイピング */
.mistyped {
  background-color: red;
}